@import url('https://fonts.cdnfonts.com/css/new-super-mario-font-u');

.header{
    margin-top: -1%;
}

.links{
    padding: 3.5%;
    height: 0.5rem;
    width: 100%;
    overflow: hidden;
    transition: 1s;
    background-color: #ed6e6e;
}


.links:hover{
   
        height: 9rem;
        transition: 1s;

}

.img {
    margin-top: -3%;
    display: flex;
    justify-content: center;
}

.linksContainer{
    display: flex;
    justify-content: center;
    margin-top: 0.4rem;
}

.linkagem{
    margin: 0 1rem;
}

@media screen and (max-width: 768px) {

    .links{
        height: 5.5em;
    }

    .img{

        margin-top: -4%;
    }

    .linksContainer{
        margin-top: 3%;
    }
}