.container{
    display: block;
   margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 5%;
   
    gap: 1rem;
    padding: 2%;
    border-radius: 10px;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 40%;
   
    background-color: #fff;
   border: solid 2px rgb(244, 60, 60);
    animation: go-back 3.7s;
  }
  
  @keyframes go-back {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
 
  .fundo {
    padding: 1%;
    position: fixed;
    top: 0;
    overflow: hidden;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
 /*    align-items: center; */
  }

  
 .textos{
    font-size: 17px;
   margin-top: 70%;
   text-align: justify;
 }
 .bt{
  

  border-radius: 5px;
  background-color: rgb(255, 95, 95);
  box-shadow: none;
  cursor: pointer;
  color: #fff;
  padding: 0.3rem;
  margin: 0.5rem;
  border-radius: 60%;
  font-size: 15px;
 

}

.bt:hover{
  background-color: rgb(244, 49, 49);

}
 
  .titulo{
    z-index: 1;
    position: absolute;
    margin-top: 50%;
    background-color: rgb(255, 230, 0);
    padding: 1%;
   
  }
  .imagem {
    width: 90%;
    height: 50%;
    z-index: -1;
margin-left: -45%;
    position: absolute;
    box-shadow: -6px 3px 60px 9px rgba(255, 255, 255, 0.51);
    -webkit-box-shadow: -6px 3px 60px 9px rgba(255, 255, 255, 0.51);
    -moz-box-shadow: -6px 3px 60px 9px rgba(255, 255, 255, 0.51);
  }
  .botao{
    padding: 0.5rem;
    margin-bottom: 2%;
    border-radius: 100%;
    margin-left: 95%;

    z-index: 1;
    background-color: transparent;
    color: red;
    font-size: 20px;
    border: none;
  }
  .pg{
    margin-top: 1%;
  }
  .botao:hover{
    cursor: pointer;
  }
.mario {
  position: absolute;
  margin-top: 30%;
 
  animation-name: drive;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1; /* Alterado para executar apenas uma vez */
  animation-timing-function: linear;
}

@keyframes drive {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(1920px);
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    margin-left: 0%;
    margin-top: 10%;
    animation: go-back 2s;
  }
.textos{
  margin-top: 85%;
}

  .mario{
    animation-duration: 3.5s;
    margin-top: 80%;
  }
}
