
.button{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    background-color: #ffd900;
    padding: 10px 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 50px;
    transition : 657ms;
    transform: translateY(0);
    margin-top: 4%;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    }
    
    .button:hover{
    
    transition : 657ms;
    padding: 10px 20px;
    transform : translateY(-0px);
    background-color: #ffb300af;
    border: solid 2px;
    }
    