.container {
    background-color: #ede0e0;
    gap: 30%;
    padding: 2%;
    display: flex;
    width: 100%;
    margin-bottom: -20%;
}

.direitos {
    color: black;
    font-size: 12px;
    width: 130%;
    margin-left: 150%;
    padding-top: 6%;
}

.img {
    margin-top: 2%;
}

.titulo {
    color: #fff;
    margin-bottom: 10px;
}

.icons {
    text-align: left;
    display: flex;
    margin-left:  500px;
}

.icon {
    margin: 0.3rem;
    color: black;
    font-size: 30px;
    margin-left: 10%;
}
.mario {
    padding-top: 7%;
    margin-left: 5%;
}

@media (max-width: 780px) {
    .container {
        margin-bottom: -50%;
        flex-direction: column;
        width: 610px;
    }

    .container2 {
        margin-bottom: 2rem;
    }

    .direitos {
        margin-left: 130px;
    }

    .icons {
        margin-top: -45px;
    }
}