@import url('https://fonts.cdnfonts.com/css/new-super-mario-font-u');

.container {
    background-color: #ed6e6e;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'New Super Mario Font U', sans-serif;
    padding: 1rem;
   
    margin-top: 12%;
    bottom: -10%;
}

.direitos {
    color: black;
    font-size: 18px;
}

.icons {
    display: flex;
}

.icon {
    margin: 0.7rem;
    color: black;
    font-size: 30px;
}

.mario {
    display: flex;
}

@media (max-width: 780px) {
    .container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .icons {
        margin-top: 1rem;
    }
}