.texto {
    color: black;
    transition: 0.5s;
    transition: border-width 0.3s;
    border-width: 0px;
    margin-bottom: 2%;
    cursor: pointer;
    text-decoration: none;

}

.texto:hover{
    border-bottom: 2px solid rgb(255, 0, 0);
    border-width: 4px;
border-radius: 4px;


}



@media screen and (max-width: 768px) {

    .texto{
        font-size: 15px;
    }}