.h1 {
    color: rgb(14, 13, 13);
    margin-top: 50%;
    background-color: transparent;
    font: 1rem sans-serif;
}
.h2{
    background-color: transparent;
    font: 1rem sans-serif;
}

.divMain {
    display: flex;
    margin: 1%;
    flex-wrap: wrap;
}

.content {
    -webkit-box-shadow: 4px 0px 21px -2px rgba(0, 0, 0, 0.87);
    -moz-box-shadow: 4px 0px 21px -2px rgba(0, 0, 0, 0.87);
    box-shadow: 4px 0px 21px -2px rgba(0, 0, 0, 0.87);
    background-color: white;
    margin-bottom: 20px;
    width: 60%;
    height: 70vh;
    padding: 20px;
    justify-content: space-between;
    margin-top: -30px;
}

.container {
    
    background-color: rgb(223, 2, 2);
    gap: 1rem;
    margin-bottom: 10px;
    padding: -10px;
    width: 28%;
    height: 70vh;
    padding-bottom: 10px;
    margin-left: 2%;
    margin-top: 5%;
    margin: 2.4rem;
    margin-bottom: 2rem;
    
}