@import url('https://fonts.cdnfonts.com/css/new-super-mario-font-u');

.main {
    background-image: url(/pagHome/fundoo.jpg);
    width: 100%;

}
.personagens{
    display: flex;
}

.gif {
    margin-top: 3%;
    margin-left: 5%;
}

.miniMain {
    display: flex;
}

.titulo1 {
    font-family: 'New Super Mario Font U', sans-serif;
    margin-left: 10%;
    font-size: 50px;

}
.content{
    background-color: brown;
    padding: 2%;
    margin-top: 1%;
}
.container {
    width: 60%;

    margin-bottom: 2%;
    background-color: white;
    color: black;
    padding: 2%;

    border-left: solid 3px red;
    margin-left: 15%;
}

.container3 {
    width: 60%;
    margin-top: 10%;
    height: 55vh;
    margin-bottom: 2%;
    background-color: white;
    color: black;
    padding: 2%;

    border-left: solid 3px red;

}

.container4 {
    width: 80%;

    margin-top: 25%;
    margin-left: 10%;
    margin-bottom: 5%;

}

.personagens {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.titulo {
    color: black;
    width: 40%;
    margin-bottom: 1%;
    background-color: rgb(255, 221, 0);
    padding: 1%;
}

.imgContainer {
    position: relative;
}

.img1,
.img2,
.img4 {
    position: absolute;
    top: 0;
    left: 0;
}

.img2 {
    z-index: 1;
    /* Ajuste o valor de z-index conforme necessário para a ordem desejada */
    margin-left: 70%;
    margin-top: -3%;
}

.img4 {
    z-index: 1;
    /* Ajuste o valor de z-index conforme necessário para a ordem desejada */
    margin-left: 5%;
    margin-top: -5%;
}

.img1 {
    width: 100%;
}

.img3 {
    width: 100%;
    margin-top: -20%;
}

.containerAjuste {
    display: flex;
    margin-top: 30%;
}

@media (max-width: 780px) {
    .miniMain {

        display: inline;
    }

    .container {
        margin: auto;
        width: 80%;
    }

    .container3 {
        margin: auto;
        margin-top: 130%;
        margin-bottom: 60%;
        width: 80%;
    }

    .containerAjuste {

        display: inline;
    }

    .img3 {
        display: none;
    }

    .img2,
    .img4 {
        margin: auto;
    }

    .personagens {
        margin-top: 80%;
        width: 80%;
    }
}