@import url('https://fonts.cdnfonts.com/css/new-super-mario-font-u');

.main {
    background-image: url(/pagHome/fundoo.jpg);
    width: 100%;

}


.miniMain {
    display: flex;
}
/* estilos dos titulos */
.titulo1 {
    font-family: 'New Super Mario Font U', sans-serif;
    margin-left: 10%;
    font-size: 50px;

}
.titulo, .titulo2 {
    color: black;
    width: 40%;
    margin-bottom: 1%;
    background-color: rgb(255, 221, 0);
    padding: 1%;
}
/* ajustes caixas de textos */
.content{
    background-color: brown;
    padding: 2%;
    margin-top: 1%;
}
.container {
    width: 60%;

    margin-bottom: 2%;
    background-color: white;
    color: black;
    padding: 2%;

    border-left: solid 3px red;
    margin-left: 15%;
}

.container3 {
    width: 60%;
    margin-top: 10%;
    height: 55vh;
    margin-bottom: 2%;
    background-color: white;
    color: black;
    padding: 2%;

    border-left: solid 3px red;

}

.container4 {
    width: 80%;

    margin-top: 25%;
    margin-left: 10%;
    margin-bottom: 5%;

}
.containerAjuste {
    display: flex;
    margin-top: 30%;
}
/* ajuste personagens */
.personagens {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}


/* ajuste imagens */
.imgContainer {
    position: relative;
}

.img1,
.img2,
.img4 {
    position: absolute;
    top: 0;
    left: 0;
}
.gif {
    margin-left: 10%;
   }
.img2 {
    z-index: 1;
    margin-left: 70%;
    margin-top: -3%;
}

.img4 {
    z-index: 1;
    margin-left: 5%;
    margin-top: -5%;
}

.img1 {
    width: 100%;
}

.img3 {
    width: 100%;
    margin-top: -20%;
}



@media only screen and (max-width: 768px) {
   
    .miniMain {
      flex-direction: column;
      align-items: center;
    }
  
  .container4{
    text-align: center;
    margin-top: 100%;
    margin-left: 25%;
  }
  .titulo{
    width: 90%;
    
  } 
  .titulo2{
    width: 90%;
    margin-left: -10%;
  }
    .main{
  
    overflow-x: hidden;
   
    }
    .titulo1 {
      font-size: 36px;
     
      text-align: center;
    }
    .img2, .img4{
        width: 90%;
        margin: auto;
    }
    .img3{
        display: none;
    }
  .container, .container3{
    width: 90%;
    margin-left: 0%;
  }
  .container3{
    margin-top: 90%;
margin-left: 5%;
  }
   

  }