.container{
    display: block;
   margin-left: 30%;
    gap: 1rem;
    padding: 1.5%;
    border-radius: 10px;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 40%;
height: 90%;
 margin-top: 2%;
    background-color: rgba(223, 223, 223, 0.37);
    border: 5px double rgba(21, 3, 3, 0.3191);
    animation: go-back 1s;
  }
  @keyframes go-back {
    from {
      transform: translateX(100%)
    }
  
    to {
      transform: translateX(0);
    }
  }
 
  .fundo {
    padding: 1%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    align-items: center;
  }

  .divAvatar{
    border-radius: 50%;
    width: 40%;
    height: 25vh;
    margin-left: 70%;
  }

  
 .textos{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
   margin-top: 70%;
 
 }
  .titulo{
    z-index: 1;
    position: absolute;
    margin-top: 50%;
    padding: 6%;
    margin-left: 21%;
   
  }
  .imagem {
    width: 90%;
    height: 50%;
    z-index: -1;
    position: absolute;
    box-shadow: -6px 3px 60px 9px rgba(255, 255, 255, 0.51);
    -webkit-box-shadow: -6px 3px 60px 9px rgba(255, 255, 255, 0.51);
    -moz-box-shadow: -6px 3px 60px 9px rgba(255, 255, 255, 0.51);
  }
  .botao{
    padding: 0.5rem;
    margin-bottom: 2%;
    border-radius: 100%;
    margin-left: 90%;
    z-index: 1;
    background-color: transparent;
    color: #f50909;
    font-size: 20px;
    border: none;
  }
  @media (max-width: 600px) {
    .container{
      width: 100%;
      margin-left: 0%;
      margin-top: 30%;
    }
}
