@import url('https://fonts.cdnfonts.com/css/super-mario-world-mario');

.main{
    background-image: url("/pagHome/fundo.png");

    width: 100%;
    height: 100%;
    text-align: center;
}
.container{
    border-radius: 10px;
    border: solid 3px rgb(255, 217, 0);
    background-color: white;
    padding: 2%;
    width: 30%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 10%;
    }
.select{
    width: 100%;
    padding: 2%;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: double;
    border-radius: 18px;
    box-shadow: 0px 0px 2px rgba(66,66,66,.52);
}
.containerCups {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 0.7rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.081);
    margin: 1rem;    
    height: 35%;
    overflow: auto;                                                      
}

.results::-webkit-scrollbar {
    width: 12px; /* Ajuste conforme necessário */
  }

.cardContainer {
    background-color: white;
    padding: 0 0 0 0;
    border-radius: 8px;
}

.mapaname {
    font-size: 20px;
    margin: 0.1rem;
    text-align: center;
}

.botoes {
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    border: none;
    transition: 0.5s;
}

.img {
    width: 100%;
    border-radius: 8px 8px 0 0 ;
}

.containerMudar {
    text-align: center;
    padding-top: 0.7rem;
}

.main {
    background-image: url('/pagHome/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.inputsss {
     padding: 0.5rem 1rem;
     font-size: 16px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-radius: 18px;
     box-shadow: 0px 0px 2px rgba(66,66,66,.52);
     margin-top: 2rem;
}

@media (max-width: 680px) {
    .containerCups {
    padding-top: 0.5rem;
        grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    }
    .container{
      width: 100%;
    }
    .results {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10px;
        padding: 0.7rem;
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, 0.081);
        margin: 1rem;   
        height: auto; 
    /*     font-family: 'Super Mario World - Mario', sans-serif;      */                                                           
    }
    
}