/* .botoes{
    border: solid 1px black;
    padding: 1%;
    margin-left: 1%;
    background-color: #fff;
}
.botoes:hover{
    background-color: rgb(255, 13, 13);
    color: white;
    border: solid 1px white;
    cursor: pointer;
}
.container{
    margin-top: 2%;
}
.cardContainer{
    display: flex;
}
.img{
    border-radius: 100%;
} */

.containerCups {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* 6 colunas com largura igual */
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 6 colunas com largura igual */
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.081);
    margin: 1rem;
}

.cardContainer {
    background-color: white;
    padding: 0 0 0 0;
    border-radius: 8px;
}

.mapaname {
    font-size: 20px;
    margin: 0.1rem;
}

.botoes {
    width: 10rem;
    height: 10rem;
    background-color: transparent;
    border: none;
    transition: 0.5s;
}

.botoesSelecionado {
    -webkit-box-shadow: 0px 0px 45px -15px rgb(230, 9, 9);
    -moz-box-shadow: 0px 0px 45px -15px rgb(230, 9, 9);
    box-shadow: 0px 0px 45px -15px rgb(230, 9, 9);
    border-radius: 100%;
    border: none;
}

.img {
    width: 100%;
    border-radius: 8px 8px 0 0 ;
}

.containerMudar {
    text-align: center;
    padding-top: 1rem;
}

.main {
    background-image: url('/fundo.png');
    background-size: cover; /* Para cobrir todo o fundo */
    background-repeat: no-repeat; /* Para não repetir a imagem */
    width: 100%;
    height: 100vh;
}