@import url('https://fonts.cdnfonts.com/css/super-mario-world-mario');
.containerCups {
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 0.7rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.081);
    margin: 1rem;    
/*     font-family: 'Super Mario World - Mario', sans-serif;      */                                                           
}

.cardContainer {
    background-color: white;
    padding: 0 0 0 0;
    border-radius: 8px;
}

.mapaname {
    font-size: 20px;
    margin: 0.1rem;
    text-align: center;
}

.botoes {
    width: 10rem;
    height: 10rem;
    background-color: transparent;
    border: none;
    transition: 0.5s;
}

.img {
    width: 100%;
    border-radius: 8px 8px 0 0 ;
}

.containerMudar {
    text-align: center;
    padding-top: 0.7rem;
}

.main {
    background-image: url('/pagHome/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

@media (max-width: 680px) {
    .containerCups {
    padding-top: 0.5rem;
        grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    }

    .results {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10px;
        padding: 0.7rem;
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, 0.081);
        margin: 1rem;    
    /*     font-family: 'Super Mario World - Mario', sans-serif;      */                                                           
    }
}